.base-container {
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
.base-container input {
    height: 40px;
    width: 250px;
    padding: 0px 14px;
  }
.base-container label {
height: 36px;
top: -6px;
}
